---
layout: page
permalink: /categories/
id: page
---

<h1>Posts Sorted by Category</h1> 

{% assign categories = site.categories | sort %}
{% for category in categories %}
    {% assign categoryname = category | first | slugify %}


    <h2 id="{{ categoryname }}">{{ categoryname | capitalize }}</h2>
    
    {% for post in category[1] %}

        <div id="post-list">

            <h3><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h3>

            <p>
                <span class="post-date">{{ post.date | date: "%d/%m/%Y" }} </span> <br />
                <span class="post-excerpt">{% if post.excerpt != null %} {{ post.excerpt }} {% endif %}</span>
            </p>

        </div> 
        
    {% endfor %}

{% endfor %}

