---
layout: page
permalink: /tags/
id: page
---

<h1>Posts Sorted by Tag</h1> 

{% assign tags = site.tags | sort %}
{% for tag in tags %}
    {% assign tagname = tag | first | slugify %}
    <h2 id="{{ tagname }}">{{ tagname | capitalize }}</h2>
    
    {% for post in tag[1] %}

        <div id="post-list">

            <h3><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h3>

            <p>
                <span class="post-date">{{ post.date | date: "%d/%m/%Y" }} </span> <br />
                <span class="post-excerpt">{% if post.excerpt != null %} {{ post.excerpt }} {% endif %}</span>
            </p>

        </div> 
                
    {% endfor %}

{% endfor %}

