//-------------------------------------------------------------------------------------
// 
// style.scss 
// 
//-------------------------------------------------------------------------------------

html,
body {
    margin: 0 ;
    padding: 0 ;
}

html {
    font-size: $font-size-base;
}

 body {
    max-width: $main-width-normal;
    margin: 0 auto;
    background-color: $color-bg-main;
    font-family: $font-text;
    color: $color-font;
    overflow-x: hidden;
}

header {
    max-width: 100%;
    border-bottom: solid 0.05em $color-theme;
    padding-top: 1em;
    margin-bottom: 2em;
    background-color: $color-bg-compliment;
}

a.site-title {
    color: $color-font !important;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.65em;
    font-weight: 600 !important;
}

.strap_line {
    letter-spacing: 0.25em;
    font-size: $font-size-small;
    text-transform: uppercase;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: 800;
}

h1 {
    font-size: 1.50em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    border-left: solid 0.2em $color-theme;
    padding-left: 1em;
}

h2, h2 a:link {
    font-size: 1.25em;
    padding-top: 1em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.10em;
    padding-top: 1em;
}

p, ul, li, em, a, th, tr, td {
    font-weight: 400;
    font-size: 1em ;
    line-height: 1.667;
}

//-------------------------------------------------------------------------------------
// Main Container
.main {
    max-width: 100%;
}

.article {
    padding-bottom: 2.5em ;
}

//-------------------------------------------------------------------------------------
// Links
a:hover,
a:active,
a:visited,
a:link {
    color: $color-link ;
	text-decoration: none;
}

// Navigation 
nav a:link {
    font-size: $font-size-small;
    text-transform: uppercase;
}

//-------------------------------------------------------------------------------------
// Images
img {
    width: 100%;
    padding: 4px;
    border: solid 1.5px $color-theme;
}

img+em {
    font-style: italic;
    font-size: $font-size-small;
}

//-------------------------------------------------------------------------------------
// Tags
.index-tags {
    font-size: $font-size-small;
    padding: 0.1em 0.2em 0.15em 0.2em;
    border: solid 0.05em $color-link;
    border-radius: 0.25em;
}

.index-tags {
    float: left;
    margin: 0.15em;
}

//-------------------------------------------------------------------------------------
// Tables
table {
    width: 100%;
}

table, th,td,tr {
    font-size: $font-size-small;
}

th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    background-color: $gray-400;
}

tr:nth-child(odd) {
    background-color: $gray-200;
}

//-------------------------------------------------------------------------------------
// Blockquote
blockquote {
    font-family: $font-family-serif;
    color: $gray-800;
    display: block;
    background-color: $gray-200;  
    width: 100% ;
    margin-left: 0; 
    border-left: solid 0.2em $color-theme;
    padding: 0.8em 0.8em 0.1em 0.8em; 
    min-width: 100%;
}

blockquote p {
    font-style: italic ;
}

//-------------------------------------------------------------------------------------
// Fenced Code Block
pre code {
    font-family: $font-monospace;
}

pre {
    display: block;
    background-color: $gray-200;
    color: $gray-800;
    overflow: auto;
    min-width: 100%;
    padding: 0.8em;
}

//-------------------------------------------------------------------------------------
// Footer
footer {
    max-width: 100%;
    margin-top: 3em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    border-top: solid 0.05em $color-theme;
    background-color: $color-bg-compliment;
}

footer p,
footer em {
    font-size: $font-size-small;
}

