---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom settings 
// The following will override the imported partials
html {
    font-size: 12.5pt; 
}

body {
    color: #5c5c5c /* Font color: very dark grey*/;
}

